@import "tailwindcss";

@theme {
  --color-ui-bg: var(--bg);
  --color-navbar-bg: var(--navbar-bg);
  --color-card-bg: var(--card-bg);
  --color-card-title: var(--card-title);
  --color-card-name: var(--card-name);
}

:root {
  --bg: var(--color-zinc-900);
  --navbar-bg: var(--color-zinc-500);
  --card-bg: var(--color-zinc-600);
  --card-title: var(--color-gray-200);
  --card-name: var(--color-gray-50);
  --scrollbar-thumb: rgba(206, 0, 0, 0.4);
}

[data-theme="light"] {
  --bg: var(--color-gray-200);
  --navbar-bg: var(--color-gray-500);
  --card-bg: var(--color-gray-400);
  --card-title: var(--color-neutral-800);
  --card-name: var(--color-neutral-900);
  --scrollbar-thumb: rgba(206, 0, 0, 0.7);
}